In [39]:
#Import Libraries
import pandas as pd

In [40]:
url = 'titanic.csv'

In [41]:
#Load Data
data = pd.read_csv(url)

In [44]:
#Group By Column
data.groupby('Sex').mean()

              Age  Survived  SexCode
Sex
female  29.396424  0.666667      1.0
male    31.014338  0.166863      0.0

In [45]:
#Group By Multiple columns and forming meaningful data

data.groupby(['Sex', 'Survived'])['Age'].mean()

Sex     Survived
female  0           24.901408
        1           30.867143
male    0           32.320780
        1           25.951875
Name: Age, dtype: float64